<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>CAESAR CIPHER</title>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<body>
  
  <!-- CIPHER NAME -->
  <div class="title">
    <h1 class="outsideScreen">CAESAR CIPHER</h1>
  </div>
  <button class="information" id="information">INFORMATION</button><br><br><br>
  <button class="instructions" id="instructions">INSTRUCTIONS</button>
  <div id="myinformation" class="information_content">

    <!-- content -->
    <div class="information-content">
      <div><span class="close1">&times;</span></div>
      <div class="information-body">
        <p>1. The Caesar cipher is a type of substitution cipher.
          <br><br>2. It is one of the earliest known and simplest ciphers.
          <br><br>3. In this cipher each letter in the plaintext is 'shifted' a certain number of places down the alphabet.
           </p>
        
      </div>
    </div>
  
  </div>
  <div id="myinstructions" class="instructions_content">

    <!-- content -->
    <div class="instructions-content">
      <div class="instructions-header">
        <span class="close2">&times;</span>
      </div>
      <div class="instructions-body">
        <p>
          <br>1. Enter the text to encrypt
          <br><br>2. Enter any number as key.
          <br><br>3. Click on cipher button to encrypt the text.
          <br><br>4. Follow the same instructions to decrypt. 
        </p>
       
      </div>
    </div>
  
  </div>
  <script>

    var information = document.getElementById("myinformation");
    var instructions = document.getElementById("myinstructions");

    var informtion_button = document.getElementById("information");
    var instructions_button = document.getElementById("instructions");

    
 
    var span = document.getElementsByClassName("close1")[0];
    var span1 = document.getElementsByClassName("close2")[0];
    


    informtion_button.onclick = function() {
      if(information.style.display === "block")
      {
      information.style.display = "none";
      }
      else{
        information.style.display = "block";
      }
    }
    
    instructions_button.onclick = function() {
      if(instructions.style.display==="block")
      {
      instructions.style.display = "none";
      }
      else{
        instructions.style.display = "block";
      }
   
    }

    span.onclick = function() {
      information.style.display = "none";
    }
    span1.onclick = function() {
      instructions.style.display = "none";
    }
 
    window.onclick = function(event) {
      if (event.target == information) {
        information.style.display = "none";
      }
    }
    window.onclick = function(event) {
      if (event.target == instructions) {
        instructions.style.display = "none";
      }
    }
    </script>
  
      <!-- CONTROLS TO CIPHER AND DECIPHER MESSAGES -->
    

        
      <div class="inOut extraMargin">
        <textarea name="input" rows="8" cols="80" id="inputMessage" placeholder="Input"></textarea>
        <span>
            <button class="polyButton cipherMethod" id="cipherButtonPoly" onclick="caesarcipherButtonFunction()" >Cipher</button>
            <button class="polyButton decipherMethod" id="decipherButton" onclick="caesardecipherButtonFunction()">Decipher</button>
            <br><br><br><br><br><br>
            <div class="inOut">
              <input type="text" id="enteredKey" placeholder=" Enter number">
            </div>
        </span>
        <textarea name="result" rows="8" cols="80" id="result" placeholder="Output"></textarea>
      </div>
  
   
  <script type="text/javascript"src="../js/Caesar.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script>
    AOS.init({
duration: 1200,
})
    </script>
</body>
</html>